html, body
  height: 100%
   overflow-x: hidden
   overflow-y: hidden

body
  background-color: #e4c097




  .wrapper
    padding-top: 60px
    padding-bottom: 60px

    section
      margin-bottom: 40px

    .eduction, .technical
      font-size: 3em
      text-transform: uppercase
      text-align: center
      margin-bottom: 25px
      line-height: 4
      color: white

    #education-section
      background-color: #fff

      .section-title
        font-size: 24px
        text-align: center
        margin-bottom: 25px
        line-height: 4
        padding-top: 20px

      .item
        margin-bottom: 45px

        .item-inner
          padding: 0 30px

        .degree
          font-size: 18px
          text-align: center

        .education-body
          font-size: 16px
          font-weight: 300
          text-align: center

        .time
          color: #8a8a8a
          margin-bottom: 15px
          text-align: center

        .desc
          font-size: 15px
          text-align: center

    #technical-section
      background-color: #fff

      .section-title
        font-size: 24px
        text-align: center
        margin-bottom: 25px
        padding-top: 20px
        line-height: 4

      .item
        margin-bottom: 45px

        .item-inner
          padding: 0 30px

        .degree
          font-size: 18px
          text-align: center

        .desc
          font-size: 15px
          height: 100px
          text-align: justify

          .star
            display: flex
            height: 120px
            justify-content: center
            align-items: center

          .fa-star, .fa-star-o
            width: 30px
            font-size: 22px

    .Name
      height: 138px
      display: flex
      justify-content: center
      align-items: flex-end
      letter-spacing: 1.5px
      font-weight: 800

.blue_section
  padding-top: 177px
  text-align: center
  background-color: #BDD2D5
  height: 600px
  color: white

  .fa-quote-left
    font-size: 40px
    margin-bottom: 80px

  .quote
    font-family: Helvetica
    letter-spacing: 2.1px
    font-size: 1.9em
    font-weight: lighter

  .sjobs
    margin-top: 50px
    font-style: italic
    font-weight: lighter
    font-size: 1.4em

.work_experience
  text-align: center
  background-color: white
  height: 200px

  .work_e_heading
    font-size: 3em
    text-transform: uppercase
    text-align: center
    margin-bottom: 25px
    line-height: 4
    color: #a8a9ad

    // width: 116%
    // margin-left: -86px

.header
  position: relative
  height: 600px
  background:
    image: url(/images/two.png)
    size: auto 1000px
    repeat: no-repeat
    position: top center
    attachment: fixed

  .my_name
    display: flex
    align-items: center
    justify-content: center
    height: 800px
    font-size: 20px
    animation: type 4s steps(60, end)


  .mugshot
    width: 100%
    display: inline-flex
    justify-content: center
    align-items: flex-end
    background:
      position: center
    position: absolute
    top: 40%
    margin-top: -50px


    img
      height: 163px
      width: 160px
      border: solid 7px rgba(253, 227, 255, 0.3)

.container-fluid
  padding-left: 0px
  padding-right: 0px

// WORK EXPERIENCE TIMELINE
// ------------------
//---------------------------
.work_ex_timeline
  position: relative
  height: 900px

  // filter: blur(2.5px)
  background:
    image: url(/images/four.png)
    size: cover
    repeat: no-repeat
    position: top center
    attachment: fixed

  .card-deck
    padding-top: 420px

    .card-title
      margin-bottom: 20px!important

// PROJECT SECTION
// ------------------
// ------------------------
.project_section
  padding-top: 60px
  section
    margin-bottom: 40px


  .project_title
    font-size: 3em
    text-transform: uppercase
    text-align: center
    margin-bottom: 25px
    line-height: 4
    color: white

  .card-title
    margin-top: 20px
    margin-bottom: 20px


.contact_me
  position: relative
  height: 900px

  // filter: blur(2.5px)
  background:
    image: url(/images/form1.png)
    size: cover
    repeat: no-repeat
    position: top center
    attachment: fixed
  .container
    display: flex
    height: 100%
    align-items: center

  .contact_title
    font-size: 3em
    text-transform: uppercase
    text-align: center
    padding-top: 147px
    margin-bottom: 19px
    line-height: 4
    color: white


.footer
  position:fixed
  bottom: 0
  width: 100%
  line-height: 60px
  background-color: #f5f5f5

  .container
    padding-top: 20px

  .btn
    display: flex
    height: 57px
    justify-content: center



  .social_media
    height: 130px
    font-size: 47px
    display: flex
    align-items: center
    justify-content: space-around

    .fa
      color: #8a8a8a
      transition: all 0.6s ease-in-out
      //how long the transition will take

      &:hover
        color: #e4c097
        transform: scale(2.1)
        // tansofrming the scale (size) of the icon





// MODAL
//  --------------------
// -------------------------
.service-modal
  .modal-dialog
    width: auto

  .modal-content
    border-radius: 0
    background-clip: border-box
    -webkit-box-shadow: none
    box-shadow: none
    border: none
    min-height: 100%
    padding: 100px 0
    text-align: justify

    h2
      margin-bottom: 15px
      font-size: 3em
    img
      margin-bottom: 30px

    p
      margin-bottom: 30px


  .modal-title
    text-align: center


  .close-modal
    position: absolute
    width: 30px
    height: 30px
    background-color: transparent
    top: 50px
    right: 50px
    cursor: pointer

    .close-icon
      height: 30px
      width: 1px
      margin-left: 15px
      background-color: #555
      transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -webkit-transform: rotate(45deg)
      z-index: 1000
    .close-icon .close-icon-r
      height: 30px
      width: 1px
      background-color: #555
      transform: rotate(90deg)
      -ms-transform: rotate(90deg)

      /* IE 9
      -webkit-transform: rotate(90deg)

      /* Safari and Chrome
      z-index: 1000
